@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

h2 {
    font-family: "Inconsolata", monospace;
}

p,
button,
h1 {
    font-family: "Space Mono", monospace;
}

footer {
    font-family: "Montserrat";
}